
*{
    margin:0 ;
    padding: 0;
    font-family: 'Bitter', sans-serif !important;
    
}

html body.intro {
    @media screen and (max-width: 767px) {
        margin-top: 19%;
        background-color: black;

        .w-100 {
            margin-top: 50%;
            width: 100% !important;
        }
    }
    nav {
        width: 100%;
    }
    img{
        height: auto;
    }
    h1#sqs-slash-page-header {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        font-size: 115px;

        @media screen and (max-width: 767px) {
            top: 14%;
            font-size: 25px;
        }
    }

    ul.nav {
        position: relative;
        margin-top: 30%;
        list-style-type: none;
        padding: 0;
        text-align: center;
        display: flex;

        li {
            display: inline-block;
            margin: 0 10px;
            margin-right: 2px;

            a {
                color: white;
                text-decoration: none;
                font-size: 25px;
                @media screen and (max-width: 767px) {
                    top: 30%;
                    font-size: 10px;
                    margin-top: 30px;
                }
            }
        }
    }

    #carouselExampleSlidesOnly {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; 

        @media screen and (max-width: 767px) {
            margin-bottom: 50px;
            overflow: hidden;
            width: 400px; /* Tamaño deseado */
            height: 400px
        }
    }

    .carousel-inner,
    .carousel-item {
        height: 100%;
    }

}

html body.register{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/PasilloEsculturas.jpg);

@media only screen and (max-width: 600px) {
    .left {
        margin-top: 20px;
    }
    h1 {
        display: none;
    }

}

nav {
    width: 100%;
}
    .form-label,
    .form-control,
    .form-select,
    .btn {
        margin-bottom: 10px;
    }


.form-label{
    font-size: 20px;
    color: white;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
h1{
    color: white;
    font-size: 70px;
    font-style: none;
    position: absolute; 
    top: 25%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
}
}

html body.nosotros {

    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center; 
    background-color: #DFCEC0;
    padding: 0;

    nav {
        width: 100%;
    }
    @media screen and (max-width: 767px){
        margin-bottom: 30%;
    }

    .w-100 {
        width: 100% !important;
        height: 100%
    }

    .max-height-300 {
        max-height: 300px;
    }

    h1, .h1 {
        font-size: 50px;
        font-style: none;
        color: black;
        position: absolute; 
        top: 25%;
        left: 50%; 
        transform: translate(-50%, -50%); 
        text-align: center; 

        @media screen and (max-width: 767px){
            font-size: 35px;
            top: 17%;
        }
    }

    .card {
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100%;
        margin-top: 25%;
        margin-bottom: 15%;
    }

    .card-text {
        font-size: 17px;
        line-height: 1.75;
    }

    .translucent-background {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 15px; 
        padding: 46px; 
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100%;
        margin-top: 25%;
    }

    #carouselExampleIndicators {
        margin-top: 25%;
    }

    .carousel-item {
        border-radius: 15px; 
        position: relative;
    }

    .carousel-item img {
        border-radius: 10px;
    }

    .image-container {
        position: relative;
    }

    .btn-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; 
        background-color: rgba(0, 0, 0, 0.5); 
        color: white; 
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px; 
        opacity: 0.8; 
        font-size: 35px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bitter:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

html, body.comprar {
    img {
        width: 500px;
        height: 500px;
    }
    nav {
        width: 100%;
    }
    .image-container {
        position: relative;
    }
    
    .image-container img {
        width: 150px;
        height: 150px;
        display: block;
    }

    .container {
        &.text-center {
            display: table-cell;
            vertical-align: middle;
        }
    }
    h3 {
        margin-bottom: 50px;
    }
    .btn-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; 
        background-color: rgba(0, 0, 0, 0.5); 
        color: white; 
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px; 
        opacity: 0.8; 
        font-size: 35px;
    }
    
    .col-md-4 {
        position: relative;
    }
    @media screen and (max-width: 767px){
        img {
            width: 300px;
            height: 300px;
        }
    }
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bitter:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


body.contact {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/Pared.jpg);    
}
nav {
    width: 100%;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    position: relative;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: white;
    margin-top: 60px; 
}

h1 {
    font-size: 100px;
    margin-bottom: 5%;
}

p {
    font-size: 25px;
    margin-top: 45px;
}

a {
    color: white; 
    text-decoration: none;
    font-size: 25px;
    margin-top: 45px;
}

@media screen and (max-width: 767px){
    body.contact {
        background-color:black;
    }

    .col {
        margin-top: 30px; 
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
        margin-top: 20px;
    }

    a {
        font-size: 15px;
        margin-top: 20px;
    }
}
